<h1 class="display-4 text-center my-5">
    <%= title %>
</h1>

<h3 class="lead text-center homepage-elements">
    Welcome to OpinionScrape!
</h3>
<p class="text-center homepage-elements">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eos, aliquam, autem totam nisi beatae sapiente, doloribus enim tempore dolorum quas exercitationem. Maxime dolorum porro nisi quae praesentium nihil deleniti <span class="highlight">nihil deleniti exercitationem!</span> Blanditiis expedita voluptatum eligendi incidunt qui, animi officia, tempore cupiditate quia, nemo deserunt deleniti commodi iste. Vitae fuga officiis totam minus sint quod, sit nobis! Repudiandae quibusdam ratione commodi quia voluptas recusandae nostrum dolorem, iure molestiae ullam, fugiat inventore est vel maxime. Ducimus nemo minima quaerat repellat, dolorum alias facilis impedit numquam laboriosam laborum eligendi magni molestiae dolor consequatur, fugiat quo molestias? Provident aut unde perspiciatis! Rerum, cum? Recusandae molestias dolorem architecto, qui perferendis repudiandae sint voluptatem natus totam maiores aliquam non modi iure distinctio officiis. Praesentium voluptatibus animi dicta harum earum eaque illo vero in neque eligendi debitis recusandae cumque enim, dolorem voluptatum quo, quasi distinctio quia velit dignissimos dolore? Facilis ducimus perferendis animi perspiciatis repudiandae reprehenderit voluptatibus voluptatem cupiditate hic reiciendis tempore blanditiis dolores iusto ratione qui exercitationem nostrum iste, voluptate labore voluptas cum. Vero cumque blanditiis, magni quas qui ad architecto iure odit est possimus ex fugit rerum maxime eveniet tenetur sapiente?</p>
