<h1 class="display-4 text-center my-5">
    <%= title %>
</h1>

<div class="container text-center">
    <h3 class="lead col"><i class="fa-solid fa-terminal"></i> Lorem Ipsum</h3>
    <h3 class="lead col"><i class="fa-solid fa-file"></i> Lorem Ipsum</h3>
    <h3 class="lead col"><i class="fa-solid fa-gears"></i> Lorem Ipsum</h3>
    <h3 class="lead col"><i class="fa-solid fa-bars"></i> Lorem Ipsum</h3>
    <h3 class="lead col"><i class="fa-solid fa-cubes"></i> Lorem Ipsum</h3>
</div>